<div class="container">
  <div class="row">
    <div class="col-md-6">
        <button class="add_content_btn watch-later">
            + Add new content to watch later list
        </button>
    </div>
    <div class="col-md-6">
        <button class="add_content_btn already-viewed">
            + Add new content to already watched
        </button>
    </div>
  </div>
</div>