/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    background-color: #FEC8FF;
}

.navbar{
    background-color: #ECF184;
    height: 125px;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    position: relative;
}

#title_container{
    background-color: #17FFEC;
    text-align: center;
    color: #DF1AA0;
    height: 80px;
    margin-left: 45px;
    width: 180px;
    vertical-align: middle;
    line-height: 80px;
    font-size: 25px;
    font-weight: bold;
    border: 3px solid #DF1AA0;
    border-radius: 3.5px;
}

.navbar-nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    height: 90px;
    font-size: 28px;
    vertical-align: middle;
    line-height: 90px;
}

.nav-item{
    border: 2px solid #6A00CC;
    border-radius: 40px;
    margin-right: 20px;
    width: 200px;
    height: 95px;
    text-align: center;
}

.container{
    border: 2px solid black;
    text-align: center;
    margin-top: 25px;
    height: 150px;
}

.col-md-6{
    height: 150px;
    vertical-align: middle;
    line-height: 150px;
}

.add_content_btn{
    background-color: #ffecff;
    height: 135px;
    border-radius: 25px;
    border: 2px solid black;
    vertical-align: middle;
    line-height: 135px;
    text-align: center;
    width: 300px;
}